In [1]:
# Libraries

# Standard
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
import os

pd.set_option('display.max_columns', None)

In [2]:
# Import Dataset

output_path = r"C:\Users\alexa\OneDrive\AlexPerez\Dokumente\2 Soros\Data Science\Projects\employee_attrition_Dec24\data\raw\employee_attrition_synthetic_IT.csv"
df= pd.read_csv(output_path)

# Remove Employee_ID column
if 'Employee_ID' in df.columns:
    df = df.drop(columns=['Employee_ID'])
    print("'Employee_ID' column removed.")
else:
    print("'Employee_ID' column not found.")

display(df.head())
display(df.info())

'Employee_ID' column removed.

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Age,Tenure,Gender,Department,Salary,Overtime,Distance_to_Work,Attrition
0,4,4,5,5,5,4,5,5,4,4,4,4,5,5,4,5,43,2,Male,Development,104715,Yes,0.00,No
1,5,5,4,5,4,4,5,5,5,4,4,5,5,4,5,4,50,1,Female,QA,73815,No,8.71,No
2,1,1,1,2,2,2,2,1,2,1,1,1,1,1,1,2,44,4,Male,Development,76687,Yes,0.00,Yes
3,2,2,1,1,2,2,2,2,1,1,1,2,2,1,1,1,42,0,Male,Development,99861,No,0.00,Yes
4,5,5,5,5,5,5,5,4,4,4,5,4,5,5,4,5,37,4,Male,Support,115343,No,4.62,No

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Q1                5000 non-null   int64
 1   Q2                5000 non-null   int64
 2   Q3                5000 non-null   int64
 3   Q4                5000 non-null   int64
 4   Q5                5000 non-null   int64
 5   Q6                5000 non-null   int64
 6   Q7                5000 non-null   int64
 7   Q8                5000 non-null   int64
 8   Q9                5000 non-null   int64
 9   Q10               5000 non-null   int64
 10  Q11               5000 non-null   int64
 11  Q12               5000 non-null   int64
 12  Q13               5000 non-null   int64
 13  Q14               5000 non-null   int64
 14  Q15               5000 non-null   int64
 15  Q16               5000 non-null   int64
 16  Age               5000 non-null   int64
 17  Tenure            5000 non-null   int64
 18  Gender            5000 non-null   object
 19  Department        5000 non-null   object
 20  Salary            5000 non-null   int64
 21  Overtime          5000 non-null   object
 22  Distance_to_Work  5000 non-null   float64
 23  Attrition         5000 non-null   object
dtypes: float64(1), int64(19), object(4)
memory usage: 937.6+ KB

None